.card {
  color: black;
  background-color: aqua;
  width: 100%;
  margin: 10px 0 10px 0;
  padding: 10px;
  box-shadow: 1px 1px 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button_container {
  display: flex;
  flex-direction: column;
}

.delete_button {
  color: red;
}
